@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer utilities {
  .section-heading {
    @apply text-center text-xl md:text-4xl font-bold uppercase tracking-wide max-sm:w-2/3;
  }

  .section-subheading {
    @apply text-center text-gray-800 mt-3 text-sm md:text-lg;
  }
}
